@import "tailwindcss";

* {
  font-family: var(--font-outfit), sans-serif;
}

.font-ovo {
  font-family: var(--font-ovo), serif;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 4rem;
}